*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.two-columns{
    display: flex;
}
.two-columns .col{
    
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: rgb(136, 228, 136);
}